@import "../../styles";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 25vh;
  background-image: url("../../assets/images/pattern-bg.png");
  background-size: cover;
}

.title {
  margin: 1em;
  font-size: 18px;
  font-weight: 700;
}

.search {
  width: 30vw;
  padding: 1em;
  border: none;
  border-radius: 1em;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  margin: 9em;
  height: 18vh;
  width: 70vw;
  border-radius: 20px;
  border: 1px solid $dark-gray;
  background-color: $white;
  z-index: 10;
}

.title {
  color: $white;
}

.modal_title {
  color: $dark-gray;
  font-size: $font-size-title;
  font-weight: $font-weight-medium;
}

.modal_info {
  font-size: $font-size-info;
}

.modal_sp {
  color: $dark-gray;
}

.map {
  height: 75vh;
}

#map {
  width: 100%;
  position: fixed;
  height: 75vh;
}
@media (max-width: $mobile-width) {
  .search{
    width: 70vw;
  }
  .modal {
    padding: 10px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
